$primary-100: hsl(207, 16%, 50%);
$primary-200: hsl(207, 33%, 32%);
$primary-300: hsl(207, 27%, 15%);

$accent-100: hsl(220, 60%, 99%);
$accent-200: hsl(337, 48%, 49%);
$accent-250: hsl(337, 60%, 64%);

$ff-heading: "DM Serif Display", serif;
$ff-body: "Public Sans", sans-serif;

$fw-400: 400;
$fw-700: 700;
