---
interface Props {
	title: string;
}

const { title } = Astro.props;
import "../sass/index.scss";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="PayAPI is something something" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Public+Sans:wght@100..900&display=swap"
			rel="stylesheet"
		/>
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--primary-100: hsl(207, 16%, 50%);
		--primary-200: hsl(207, 33%, 32%);
		--primary-300: hsl(207, 27%, 15%);
		--accent-100: hsl(220, 60%, 99%);
		--accent-200: hsl(337, 48%, 49%);
		--accent-250: hsl(337, 60%, 64%);
		--fw-400: 400;
		--fw-700: 700;
		--ff-heading: "DM Serif Display", serif;
		--ff-body: "Public Sans", sans-serif;
	}
	html {
		font-family: system-ui, sans-serif;
	}
	.fw-700 {
		font-weight: 700;
	}
	.fw-400 {
		font-weight: 400;
	}
</style>
