---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Button from "../components/Button.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../sass/index.scss";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="PayAPI is something something" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Public+Sans:wght@100..900&display=swap"
			rel="stylesheet"
		/>
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
	<style is:global>
		:root {
			--primary-50: #fbfdfe;

			--primary-100: #6b8294;
			--primary-200: #37546d;
			--primary-300: #1c2731;
			--accent-100: #fbfcfe;
			--accent-150: #edf3f8;
			--accent-200: #b9416f;
			--accent-250: #da6c96;
			--fw-400: 400;
			--fw-700: 700;
			--ff-heading: "DM Serif Display", serif;
			--ff-body: "Public Sans", sans-serif;
		}

		body {
			font-family: var(--ff-body);
			max-width: 100vw;
			min-height: 100vh;
			background-color: var(--accent-150);
		}

		h1,
		h2,
		h3 {
			font-family: var(--ff-heading);
			font-weight: var(--fw-400);
		}
		p {
			font-family: var(--ff-body);
		}

		.fw-700 {
			font-weight: 700;
		}
		.fw-400 {
			font-weight: 400;
		}
	</style>
</html>
